/* font upload */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
/*------------------------------------------- 
                navigation styles
----------------------------------------------- */
/* left side */
nav{
    background: #562EFF;
    color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 285px;
    padding-right:289px;
}
.left-logo{
    display: flex;
    align-items: baseline;
    /* margin: 26px 1114px 17px 285px; */
}
.fa-lightbulb{
    height: 51px;
    width: 40px;
    font-size: 25px;
}
.logo-description{
    margin-left: 15px;
    font-size: 24px;
}

/* right-side */
.right-side{
    display: flex;
    align-items: center;
}
.right-side .anchors a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-left: 36px;
}
.right-side .right-logo img{
    height: 51px;
    width: 51px;
    margin-left: 36px;
    border-radius: 50%;

}
/*------------------------------------------- 
                navigation complete
----------------------------------------------- */
/*------------------------------------------- 
                First section start
----------------------------------------------- */
.container{
    width: 870px;
    height: 679px;
    /* margin: 36px 285px 30px 285px; */
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 33px 50px 42px 30px;
    /* display: block; */
    /* align-items: center;
    justify-content: center; */
    margin: auto;
    margin-bottom: 35px;
    width: 60%;
}

/* top player design */


h3{
    font-size: 24px;
    color: #562EFF;
    padding-left: 3px;
    margin-bottom: 30px;
    padding-top: 6px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player-details{
    display: flex;
    align-items: center;
}
.top-players .players .player-details .player img{
    height: 56px;
    width: 56px;
}
.top-players .players .player-details .player-name{
    font-size: 18px;
    margin-left: 16px;
}
hr{
    margin-top: 29px;
    margin-bottom: 29px;
}


/* top blog design */

.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog-detail{
    display: flex;
    align-items: center;
}
.top-blog .blogs .blog-detail .blog-thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-description{
    margin-left: 16px;
}
.blog-description .by{
    color:#9F9F9F;
    font-size: 16px;
}
.blog-description a{
    text-decoration: none;
    color: #562EFF;
    font-size: 16px;

}
/*------------------------------------------- 
                First section end
----------------------------------------------- */
/*------------------------------------------- 
                Last section start
----------------------------------------------- */
.the-last-container{
    height: 400px;
    width: 60%;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    padding: 33px 50px 42px 30px;
}
.latest-courses{
    display: inline-flex;
    gap: 25px;
    /* flex-wrap: wrap; */
     /* display: flex; */
    justify-content: space-between;
    /* align-items: center;  */

    
}
.course-detail{
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid grey; */
    border-radius: 15px;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.5);

}
.course-thumbnail img{
    width: 224px;
    height: 104px;
    /* align-items: center; */
    /* padding-left: 30px; */
    /* padding-top: 30px; */
}
.author{
    color: #ED6B4F;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.unfilled{
    color: #AEAEAE;
}
.rating-text{
    color: #A2A2A2;
    margin-left: 10px;
}
.duration{
    display: flex;
    align-items: center;
    background-color: #FFE4E8;
    border-radius: 15px;
    height: 28px;
    width: 95px;
    border: 5px 5px 5px 5px;
    padding-left: 10px;
}
.duration p{
    padding-left: 10px;
}
.rating-section{
    display: flex;
    align-items: center;
}
/* .only-in-688{
    visibility: hidden;
    display: none;
} */


/*------------------------------------------- 
                Last section end
----------------------------------------------- */
/* media query start */

@media only screen and (max-width:688px) {
    nav{
        width: 100%;

    }
    .container{
        width: 100%;
        margin: 0;
    }
    .players, .blogs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .only-in-688{
        position: relative;
        top:510px;
    }
    .latest-courses{
        position: relative;
        top:500px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}